@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Outfit', sans-serif;
}

.button-opacity {
  background: rgba(151, 151, 151, 0.4);
}

.show-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#trending:hover .show-button {
  display: flex;
}

.scrollbar {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
